# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
venv/
user-stt-venv/

# Env Variable
.env
.env.*

# Cache
API/__pycache__
utils/__pycache__
utils/resource

#APP
VOICEVOX/

#LOGS
setup_log.txt
StartApp_log.txt
token.txt
user_input_log.txt