
colorama~= 0.4.6
numpy

tqdm~=4.65.0
six~=1.16.0

requests~=2.31.0
PyAudio~=0.2.13
pydub~=0.25.1
pyvts~=0.3.1
keyboard~=0.13.5
characterai~=0.6.0
python-dotenv~=1.0.0
elevenlabs~=0.2.19
humanize~=4.7.0



#TTS LIBRARY
# core deps
#scipy>=1.4.0
#cython==0.29.30
#soundfile~=0.12.1
#librosa==0.10.0.*
#inflect==5.6.0
#numba==0.55.1;python_version<"3.9"
#numba==0.57.0;python_version>="3.9"
#anyascii~=0.3.2
#pyyaml~=6.0
#fsspec>=2021.04.0
#packaging~=23.1
#aiohttp
# deps for examples
#flask~=2.3.2
# deps for inference
#pysbd~=0.3.4
# deps for notebooks
#pandas~=2.0.3
# deps for training
#matplotlib~=3.7.2
# coqui stack
#trainer~=0.0.27
# config management
#coqpit>=0.0.16
# chinese g2p deps
#jieba~=0.42.1
#pypinyin~=0.49.0
# japanese g2p deps
#mecab-python3==1.0.6
#unidic-lite==1.0.8
# gruut+supported langs
#gruut[de,es,fr]==2.2.3
# deps for korean
#jamo~=0.4.1
#nltk
#g2pkk>=0.1.1
# deps for bangla
#bangla==0.0.2
#bnnumerizer~=0.0.2
#bnunicodenormalizer==0.1.1
#deps for tortoise
#einops~=0.6.1
#transformers~=4.30.2
#deps for bark
#encodec~=0.1.1
#num2words~=0.5.12
#tokenizers~=0.13.3


TTS==0.20.6
uvicorn~=0.23.2
fastapi~=0.101.0
psutil~=5.9.5
voicevox-client
translate~=3.6.1
